<ion-content >
  <h1>Seleccione hora</h1>
  <ion-datetime #time (ionChange)="actualizarHora(time.value)" presentation="time" hour-cycle="h23" [hourValues]="hourValues" [minuteValues]="minutesValues"></ion-datetime>
  <h3> Fecha seleccionada </h3>
  <div>{{ fechaSeleccionada }} - {{ horaSeleccionada }}</div><br>
  <div class="btn">
    <ion-button class="btn-time" color="secondary" (click)="dismissCancelar()" >Volver </ion-button>
    <ion-button class="btn-time" color="secondary" (click)="btnAceptar(time.value)">Aceptar </ion-button>
  </div>
</ion-content>
