ion-content{
    margin: auto;
    text-align: center;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    transform: scale(150%, 150%);
    text-align: center;
}

.loading{
    transform: scale(80%, 80%);
    margin-top: 100px;
}