.head{
  background: white;
  height: 80px;
  position: relative;
}

.logo{
  height: 50px;
  position: absolute;
  bottom: 0px;
  padding-left: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: column;

}

.meds{
  width: 80%;
  text-align: center;
}

.medCard{
  text-align: center;
}

.welcome{
  text-align: center;
}

.dayName{
  background-color: aquamarine;
}

.date{
  text-align: center;
  align-items: center;
  width: 80%;
  height: 250px;
}

.day{
  display: flex;
  align-items: center;
}

.dateCard{
  height: 200px;
}