.head{
  background: white;
  height: 80px;
  position: relative;
}

.logo{
  height: 50px;
  position: absolute;
  bottom: 0px;
  padding-left: 20px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: column;

}
