<header class="head" >
  <div >

    <img class="logo" src="../../assets/Vector.svg" alt="">

  </div>
</header>

<ion-content>
  <div class="content">
    <ion-text>
      <h1>Bienvenido </h1>
    </ion-text>
    <ion-text>
      <p id="output"></p>
    </ion-text>
    <div class="buttons">
      <ion-button class="button-start" shape="round" size="default"><ion-icon slot="start" name="calendar-number-outline"> </ion-icon> Tomar horas <br> médicas</ion-button>
      <ion-button class="button-start" shape="round" size="default"><ion-icon slot="start" name="alarm-outline"></ion-icon> Alarmas</ion-button>
    </div>
  </div>



</ion-content>

<script src="start.page.js">

    /*const event = new Date(Date.UTC({ today }));
    const options = { weekday: 'long'};
    const options = "tes";
    console.log(options);


    document.getElementById('output').innerHTML = options;*/

</script>


