.head{
  background: white;
  height: 80px;
  position: relative;
  padding-top: 10px;
}

.header-logo{
  height: inherit;
}

.logo{
  height: 50px;
  position: relative;
  bottom: 0px;
  padding-left: 20px;
}

.title-div{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.title{
  padding-left: 5vw;
  margin: 20px 0 20px 0;
}

.button-native{
  padding: 0;
}

.button-start{
  width: 10vw;
}

