.head{
  background: white;
  height: 80px;
  position: relative;
  padding-top: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header-logo{
  height: inherit;
}

.logo{
  height: 50px;
  position: relative;
  bottom: 0px;
  padding-right: 20px;
}

.title-div{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.title{
  padding-left: 5vw;
  margin: 0;
}

.button-native{
  padding: 0;
}

.button-start{
  width: 10vw;
}
.button-back{
  background: rgb(56 128 255);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  color: white;
}

.calendar{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  padding-top: 20px;
}

.dates{
  border-radius: 5%;
  width: 100%;
}

.item{
  border-bottom: solid black 2px;
}