<header class="head" >
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <div class="header-logo">
      <img class="logo" src="../../assets/Vector.svg" alt="">
    </div>
  </div>
</header>

<ion-content>

  <div class="content">
    <div class="title-div">
      <button type="button" class="button-back" routerLink="/start"><ion-icon name="chevron-back-outline"></ion-icon> </button>
      <h1 class="title"> Reserva de horas</h1>
    </div>
    <div class="calendar">
      <ion-datetime class="dates" presentation="date" first-day-of-week="1" color="tertiary" (ionFocus)="onDateSelected()">
        <div slot="title">Seleccione fecha</div>
      </ion-datetime>
    </div>
  </div>



</ion-content>
