<header class="head" >
  <div class="header-logo">
    <img class="logo" src="../../assets/Vector.svg" alt="">
  </div>

</header>

<ion-content>

  <div class="content">
    <div class="title-div">
      <button type="button" class="button-back" routerLink="/start"><ion-icon name="chevron-back-outline"></ion-icon> </button>
      <h1 class="title"> Reserva de horas</h1>
    </div>
    <div class="calendar">
      <ion-datetime class="dates" presentation="date" first-day-of-week="1">
        <div slot="title">My Custom Title</div>
      </ion-datetime>
    </div>
  </div>



</ion-content>
