<header>
  <ion-toolbar>
    <div class="close">
      <ion-button class="close-button" (click)="dismiss()" fill="clear" color="light" color="tertiary">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</header>

<ion-content [fullscreen]="true">
  <div class="pick">
    <ion-datetime presentation="time" hour-cycle="h23" #time></ion-datetime>
  </div>
  <div class="buttons">
    <ion-button (click)="clear()">Cancelar</ion-button>
    <ion-button (click)="timeSelected(time.value)" (click)="llenarAlarma()" (click)="dismiss()">Aceptar</ion-button>
  </div>
</ion-content>

