.head{
    background: white;
    height: 80px;
    position: relative;
    padding-top: 10px;
  }
  
  .header-logo{
    height: inherit;
  }
  
  .logo{
    height: 50px;
    position: relative;
    bottom: 0px;
    padding-left: 20px;
  }