<header class="head" >
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <div class="header-logo">
      <img class="logo" src="../../assets/Vector.svg" alt="">
    </div>
  </div>
</header>


<ion-content>
  <div class="contenido">
    <div class="medico">
      <img class="imgMed" src="../../assets/img/doc.png" alt="">
      <div class="docName"><label for="">Sigmund Freud</label></div>
    </div>
    <div class="ficha">
      <ion-card class="card">
        <ion-card-header>
          <ion-card-title class="card-title">Ficha Medica </ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios" class="card-content">Testing</ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
