<header class="head" >
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <div class="header-logo">
      <img class="logo" src="../../assets/Vector.svg" alt="">
    </div>
  </div>
</header>


<ion-content>
  <div class="contenido">
    <div class="medico">
      <img class="imgMed" src="../../assets/img/doc.png" alt="">
      <p class="docData">
        Dr. {{ nombre_doctor }}<br>
        {{ especialidad_doctor }}<br>
        {{ centroMed }}
      </p>
    </div>
    <div class="ficha">
      <ion-card class="card" mode="ios">
        <ion-card-header>
          <ion-card-title class="card-title">Ficha paciente</ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios" class="card-content">
          <ul>
            <li>Peso: {{ peso_usuario }} kg.</li>
            <li>Altura: {{ altura_usuario }} mts.</li>
            <li>Edad: {{ edad_usuario }} años</li>
            <li>Factor RH: {{ rh_usuario }}</li>
            <li>Enfermedad: {{ enfermedad_usuario }}</li>
            <li>Tratamiento: {{ remedio_usuario }}</li>
            <li>Dosis: {{ dosis_usuario }}</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
