<header class="head" >
  <div class="header">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <div class="header-logo">
      <img class="logo" src="../../assets/Vector.svg" alt="">
    </div>
  </div>
</header>


<ion-content>
  <div class="content">
    <ion-text class="welcome">
      <h1>Bienvenido <br>{{ nombre }}</h1>
    </ion-text>

    <div class="date">
      <h1 class="dayName">
        {{ today_nombre }}
      </h1>
      <h1 class="dayNumber">
        {{ today_numero }}
      </h1>
    </div>

    <div class="meds">Receta
      <ion-card class="medCard">
        <ion-card-header>
          <ion-card-title> {{ remedio }} </ion-card-title>
        </ion-card-header>
        <ion-card-content mode="ios"> {{ dosis }} </ion-card-content>
      </ion-card>
    </div>

    <div class="buttons">
      <ion-button class="button-start" shape="round" size="default" (click)="toReserve()" color="tertiary"><ion-icon slot="start" name="calendar-number-outline" > </ion-icon> Tomar horas <br> médicas</ion-button>
      <ion-button class="button-start" shape="round" size="default" (click)="toAlarm()" color="tertiary"><ion-icon slot="start" name="alarm-outline"></ion-icon> Alarmas</ion-button>
    </div>
  </div>

</ion-content>



